.buildingSelector {
  grid-area: building-selector;
  max-height: 90vh;
  overflow: auto;
}

.building {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.selected {
  border: 1px solid red;
}
