.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-black);
}

.gap {
  width: 10px;
}
